<div class="col s6 m6 l3">
  {{#md-card
    class="hoverable team-card"}}
      {{#md-card-action}}
        {{#link-to 'teams.show' team class="truncate"}}
          {{team.name}}
        {{/link-to}}
      {{/md-card-action}}
  {{/md-card}}
</div>
