<p id="notice"><%= notice %></p>

<h1>Manage Books</h1>

<%= link_to 'New Step', new_admin_step_path %>
<ol class="sortable_tree" data-max_levels=5 data-rebuild_url="<%= rebuild_admin_steps_path %>">
  <%= sortable_tree @steps %>
</ol>
