<div class="col s12 m4 l3 hide-on-med-and-up">
  <h4>Teams</h4>
  {{#md-collection content=model as |team|}}
    {{#link-to "teams.show" team class='collection-item'}}
      {{ team.name }}
    {{/link-to}}
  {{/md-collection}}
</div>
