{{#link-to "teams" class="hide-on-med-and-up"}}
  View Teams
{{/link-to}}

<h4>{{model.name}}</h4>
<div class="divider"></div>
<div class="row">
{{#each model.children as |child|}}
  {{child-card child=child}}
{{/each}}
</div>
