@import 'components/color';

// Custom color settings go here
$primary-color: color("blue-grey", "lighten-2");
$primary-color-light: color("blue-grey", "lighten-5");

@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.primary-color {
  background-color: $primary-color;
}

.page-footer {
  background-color: $secondary-color;
}

.tabs a.active {
    border-bottom: 1px solid $primary-color;
}

a.active .chip {
  font-weight: bold;
  color: $primary-color-light;
  background-color: $primary-color;
}

.subnav {
  margin-bottom: 10px;
}

li > .title {
  display: block;
  font-weight: bold;
}
