@import 'components/color';

// Custom color settings go here
//$primary-color: color("pink", "lighten-2");

@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.tabs a.active {
    border-bottom: 1px solid red;
}

li > .title {
  display: block;
  font-weight: bold;
}
