<div class="row">
{{#step-card step=model wrapperClass="col s12" cardClass="primary-color-light"}}
  {{md-btn text='Sign Off' action="signOff" actionArg=model
    class='white-text'}}
{{/step-card}}
</div>
