<div class="row">
  <div class="col s3 m2 l2">
    <img src={{model.largeAvatar}} class="responsive-img z-depth-1 circle">
  </div>
  <div class="col s9 m10 l6">
    <h4 class="">
      {{model.name}}
    </h4>
    {{#link-to "teams.show" model.team class=''}}
      {{ model.team.name }}
    {{/link-to}}
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3">{{#link-to 'children.show.steps'}}Progress{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'children.show.attendance'}}Attendance{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'children.show.awards'}}Awards{{/link-to}}</li>
    </ul>
  </div>
</div>
<div class="row">
  {{outlet}}
</div>
