<ol>
{{#each model as |step|}}
  <li>
    {{step.title}}
    {{#each step.completedBy as |child|}}
      <div class="chip">
        <img src={{child.chipAvatar}} alt="Contact Person">
        {{child.name}}
      </div>
    {{/each}}
  </li>
{{/each}}
</ol>
