<div class="subnav">
{{#link-to 'children.show.steps.next'}}
  <span class="chip">
    Next Step
  </span>
{{/link-to}}

{{#link-to 'children.show.steps.pending'}}
  <span class="chip">
    To do
  </span>
{{/link-to}}

{{#link-to 'children.show.steps.completed'}}
  <span class="chip">
    Completed
  </span>
{{/link-to}}
</div>

<div class="">
{{liquid-outlet}}
</div>
