<div class="col s12 m9 s6">
{{#md-card title=model.title class="grey lighten-5"
    titleClass=""}}
    {{#md-card-content class=""}}
    <p>
      {{model.content}}
      <ol>
        {{#each model.children as |step|}}
          <li><span class="title">{{step.title}}</span>
            {{step.content}}
          </li>
        {{/each}}
      </ol>
    </p>
    {{/md-card-content}}
    {{#md-card-action class=""}}
    {{md-btn text='Sign Off'
      class='indigo darken-2 white-text'}}
    {{/md-card-action}}
{{/md-card}}
</div>
