<div id="react_app"></div>

<%= content_for :script do %>
<%= react_router 'MyRoutes' %>
<script>


$("#react_app").on("persist::updated", function(){

});

ReactRouter.run(MyRoutes, function (Handler) {
  React.render(React.createElement(Handler), document.getElementById("react_app"));
});

//React.render(React.createElement(Teams, {store: store.get()}), )

</script>
<% end %>
