<header>
  <nav class="" role="navigation">
    <div class="nav-wrapper container">
      {{#link-to 'application' class="brand-logo"}}Our Club Tracker{{/link-to}}
      <ul class="right hide-on-med-and-down">
        <li>{{#link-to 'organizations'}}Clubs{{/link-to}}</li>
        <li>{{#link-to 'children'}}Children{{/link-to}}</li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li>{{#link-to 'organizations'}}Clubs{{/link-to}}</li>
        <li>{{#link-to 'children'}}Children{{/link-to}}</li>
      </ul>
      {{#link-to 'application' class="button-collapse"}}<i class="fa fa-bars"></i>{{/link-to}}
    </div>
  </nav>
</header>

<main class="container">
    {{outlet}}
    {{!-- ember-cli-materialize modal container --}}
    {{md-modal-container}}
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">

        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
