<div class="row">
  <div class="col s12 m4 l3 hide-on-small-only">
    <h4>Teams</h4>
    {{#md-collection content=model as |team|}}
      {{#link-to "teams.show" team class='collection-item'}}
        {{ team.name }}
      {{/link-to}}
    {{/md-collection}}
  </div>
  <div class="col s12 m8 l9">
    {{outlet}}
  </div>
</div>
